@import url(https://fonts.googleapis.com/css?family=Sora:regular,600,700,800);
body {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #71717a;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 16px;
  margin: 0 auto;
}

.container-small {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.header__download {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.02em;
  border-radius: 4px;
}

.experience__title, .skills__title {
  font-size: 48px;
}

.experience__header--apple::before, .experience__header--youtube::before, .experience__header--google::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.header__wrapper {
  padding: 24px 0 108px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.header__item {
  position: relative;
}
.header__item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: 0.2s ease;
}
.header__item:hover::before {
  width: 100%;
}
.header__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #000;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__download {
  padding: 16px 48px 16px 20px;
  transition: background-color 0.2s ease;
}
.header__download-text {
  position: relative;
}
.header__download-text::after {
  content: "";
  position: absolute;
  background-image: url("../../img/header/arrow-download.svg");
  background-repeat: no-repeat;
  top: 50%;
  right: -28px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
}
.header__download:hover {
  background-color: #404040;
}
.header__burger {
  display: none;
  width: 36px;
  height: 36px;
  padding: 9px 4px;
}
.header__burger span {
  display: block;
  width: 27px;
  height: 3px;
  background-color: #000;
}
.header__burger span:not(:last-child) {
  margin-bottom: 4px;
}

.hero__wrapper {
  position: relative;
  display: flex;
  padding-bottom: 116px;
}
.hero__content {
  margin-top: 130px;
  max-width: 600px;
}
.hero__title {
  font-size: 48px;
  color: #000;
  margin-bottom: 32px;
  line-height: 150%;
}
.hero__title--bold {
  font-weight: 800;
}
.hero__title--outline {
  font-weight: 800;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  letter-spacing: -0.02em;
}
.hero__discription {
  margin-bottom: 100px;
  letter-spacing: 0.02em;
}
.hero__social {
  display: flex;
  align-items: center;
  gap: 32px;
}
.hero__item {
  width: 56px;
  height: 56px;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.hero__item:hover {
  background-color: #000;
}
.hero__item:hover svg path {
  fill: #fff;
}
.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../../img/hero/man.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 875px;
  height: 596px;
}

.skills__wrapper {
  padding-bottom: 100px;
}
.skills__title {
  color: #000;
  text-align: center;
  margin-bottom: 80px;
}
.skills__title--bold {
  font-weight: 800;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 71.5px;
  row-gap: 40px;
}
.skills__item {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 37px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.skills__item:hover {
  background-color: #000;
}
.skills__item:hover div svg path {
  fill: #fff;
}
.skills__item:hover div svg path:not(:first-child) {
  fill: #000;
}
.skills__item:hover span {
  color: #fff;
}
.skills__img {
  padding-bottom: 32px;
  margin: auto 0;
}
.skills__img:hover svg path {
  fill: #fff;
}
.skills__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
  text-align: center;
  color: #000;
}

.experience__inner {
  margin: 0 auto;
  background-color: #000;
}
.experience__wrapper {
  padding: 80px 0 100px 0;
}
.experience__title {
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
}
.experience__title--bold {
  font-weight: 800;
}
.experience__item {
  border: 1px solid #71717a;
  border-radius: 10px;
  padding: 30px 24px;
  width: 100%;
  max-width: 1168px;
  height: 192px;
  transition: all 0.3s ease;
}
.experience__item:not(:last-child) {
  margin-bottom: 32px;
}
.experience__item:hover {
  background-color: #27272a;
  border-color: #27272a;
}
.experience__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  position: relative;
}
.experience__header--google {
  background-image: url("../../img/experience/google.svg");
  background-repeat: no-repeat;
  background-position: left;
}
.experience__header--youtube {
  background-image: url("../../img/experience/youtube.svg");
  background-repeat: no-repeat;
  background-position: left;
}
.experience__header--apple {
  background-image: url("../../img/experience/apple.svg");
  background-repeat: no-repeat;
  background-position: left;
}
.experience__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-left: 62px;
}
.experience__date {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #d4d4d8;
}
.experience__description {
  line-height: 150%;
  color: #d4d4d8;
}

/*# sourceMappingURL=style.css.map */
