%button {
    background-color: $black-color;
    color: $white-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.02em;
    border-radius: 4px;
}

%title {
    font-size: 48px;
}
