@mixin Title($color, $text-al) {
    @extend %title;
    color: $color;
    text-align: $text-al;
    &--bold {
        font-weight: 800;
    }
}

@mixin Companies-Icon($link) {
    @extend %companies-icon;
    background-image: url($link);
    background-repeat: no-repeat;
    background-position: left;
}
