// Color
$black-color: #000;
$white-color: #fff;
$neutral-color: #404040;

$zinc-100-color: #f4f4f5;
$zinc-200-color: #e4e4e7;
$zinc-300-color: #d4d4d8;
$zinc-500-color: #71717a;
$zinc-800-color: #27272a;

$error-color: #ef4444;

// Other
$container-width: 1218px;
$container-width-small: 1168px;
