.skills {
    &__wrapper {
        padding-bottom: 100px;
    }
    &__title {
        @include Title($black-color, center);
        margin-bottom: 80px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 71.5px;
        row-gap: 40px;
    }

    &__item {
        border: 2px solid $black-color;
        border-radius: 4px;
        padding: 37px 24px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: $black-color;

            div {
                svg {
                    path {
                        fill: $white-color;
                    }

                    path:not(:first-child) {
                        fill: $black-color;
                    }
                }
            }

            span {
                color: $white-color;
            }
        }
    }

    &__img {
        padding-bottom: 32px;
        margin: auto 0;

        &:hover {
            svg {
                path {
                    fill: $white-color;
                }
            }
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        text-transform: capitalize;
        text-align: center;
        color: $black-color;
    }
}
